/* Example styling in App.css */
*{
  /* font-family: 'Vina Sans', sans-serif; */
  background-color: #2E4053;
  /* cursor: none; */
}

.circular-cursor::before {
  content: '';
  position: fixed; /* Set to fixed for it to move with the viewport */
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 9999; /* Set a high z-index value to ensure it's on top */
}
.navbar{
  display: flex;
  justify-content: space-around;
  align-items: start;
  flex-direction: column;
  font-size: 100px;
  font-family: 'Vina Sans', sans-serif;

}
.notselected:hover{
  -webkit-text-stroke: 2px black;
  /* color: bisque; */
  text-shadow: 2px 2px 0px white;
  cursor: pointer;
}
.selected{
  -webkit-text-stroke: 2px black;
  color: bisque;
  text-shadow: 2px 2px 0px white;
}

.main-div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border: 2px solid white; */
}
.profile{
  overflow: hidden; /* Hide overflow to clip the zoomed image */
  width: 300px; /* Set a fixed width for the container */
  height: 300px;
  border-radius: 50%;

}
.profile-img{
  width: 100%; /* Make the image fill the container */
  transition: transform 0.3s ease, filter 0.3s ease; /* Add a smooth transition effect */
  filter: grayscale(100%);
  /* transition: filter 0.3s ease; */

}
.profile:hover .profile-img{
  transform: scale(1.2); /* Scale the image on hover */
  filter: grayscale(0%);
}
/* .profile img{
  border: 2px solid white;
  border-radius: 50%;
  overflow: hidden;
}
.profile img:hover{
  transform: scale(1.2);
  transition: ease-in-out 50ms;
} */
.home-main{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  /* border: 2px solid white; */
  font-size: 30px;
}
.home-main div{
  margin: 50px;
}